* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

/* Fonts */
@font-face {
    font-family: 'Hagin Caps Medium'; 
    src: url(fonts/hagin/Hagin-Caps-Medium.otf); 
}

@font-face {
    font-family: 'Lato Medium'; 
    src: url(fonts/lato/Lato-Medium.ttf); 
}

@font-face {
    font-family: 'Lato Regular'; 
    src: url(fonts/lato/Lato-Regular.ttf); 
}

@font-face {
    font-family: 'Lato Italic'; 
    src: url(fonts/lato/Lato-italic.ttf); 
    }

@font-face {
    font-family: 'Lato Light'; 
    src: url(fonts/lato/Lato-Light.ttf); 
}

@font-face {
    font-family: 'Literata Regular'; 
    src: url(fonts/Literata/literata-bold.otf); 
}

@font-face {
    font-family: 'Literata Bold'; 
    src: url(fonts/Literata/literata-regular.otf); 
}

/* Hearder */
.header {
	width: 100%;
	min-height: 85px;
	background: #282828;
}

	.headtext {
		width: 70%;
		margin: 0 auto;
		min-height: 85px;
	}

		.logomain {
			width:50%;
			position: relative;
			float:left;
		}

			.logo {
				font-size: 2.65rem;
				font-family: 'Hagin Caps Medium';
				color: #ae9277;
				text-transform: none;
			}

			.logomain a{
				text-decoration: none;
				color: #ae9277;
			}

			.logosubtitle {
				font-size: 0.6875rem;
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				text-transform: uppercase;
				padding-left: 2px;
				margin-top: -5px;
			}

		.telephone {
			width:50%;
			position: relative;
			float: right;
			margin-right:0;
			display: inline-block;
			text-align: right;
			padding-top: 28.5px;
		}

			.phone {
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				font-size: 16px;
				display: inline-block;
			}

			.phone b {
				font-weight: 900;
				font-size: 19px;
				margin-right: 30px;
			}

			.fav {
				font-family: 'Lato Medium', sans-serif;
				font-size: 16px;
				border-bottom: 2px dotted #ffffff;
				display: inline-block;
				margin-right: 30px;
			}

			.fav a{
				text-decoration: none;
				color: #ffffff;
			}

			.icon {
				display: inline-block;
			}

			.rus .eng {
				display: inline-block;
			}

			.rus {
				margin-right: 5px;
			}

	.clearfix {
		clear: both;
	}
	
	.line {
		width: 100%;
		height: 3px;
		background: #ae9277;
	}

/* menu */

.menu {
	width: 100%;
	min-height: 70px;
	background: #f3f3f3;
}
	
	.menubuttons {
		width: 70%;
		margin: 0 auto;
		min-height:70px;
	}

	.menubuttons p {
		font-size: 1rem;
		font-family: "Lato Regular";
		text-transform: uppercase;
	}
	
	.menubuttons a {
		text-decoration: none;
		color: #282828;
	}

		.main, .sale, .rent, .contacts {
			width: 24.6%;
			display: inline-block;
			vertical-align: middle;
			margin-top: 25px;
			padding: 0 10px;
		}
		
		.main {
			text-align: center;
			border-right: 1px solid lightgray;
		}

		.sale {
			text-align: center;
			border-right: 1px solid lightgray;
		}

		.rent {
			text-align: center;
			border-right: 1px solid lightgray;
		}

		.contacts {
			text-align: center;
		}

/* Slider */

.caption h3 {
	font-family: 'Literata Regular';
	text-transform: none;
}


.button-center {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  background: #333333;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-family: 'Lato Medium', sans-serif;
  padding-top: 1px;
} 

.button-left {
  width: 300px;
  height: 50px;
  background: #333333;
  text-align: center ;
  vertical-align: middle;
  position: absolute;
  left: 0;
  text-transform: none;
  font-weight: normal;
  padding-left: 5px;
  font-family: 'Lato Medium', sans-serif; 
}

.button-right {
  width: 300px;
  height: 50px;
  background: #333333;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 0;
  text-transform: none;
  font-weight: normal;
  padding-right: 5px;
  font-family: 'Lato Medium', sans-serif; 
}

.slider a{
  text-decoration: none;
  color: #ffffff;
 }

 .button-right h5 {
 	color:#f3f3f3;
 }

 .button-left h5 {
 	color:#f3f3f3;
 }

 .button-center h5 {
 	color:#f3f3f3;
 }

 .caption1, .caption2, .caption3, .caption4 img{
 	height: 100%;
 }

/* Search */
.search {
  width: 100%;
  min-height: 70px;
  margin-top: 50px;
}

.search-buttons {
  width: 70%;
  min-height: 70px;
  margin: 0 auto;
}

.select1 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 325px;
  color: #6f6969;
  vertical-align: middle;
  text-align: left;
}

.select1 .placeholder1 {
  position: relative;
  display: block;
  z-index: 1;
  padding: 1em;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.select1 .placeholder1:hover {
  background: #34383c;
}

.select1 .placeholder1:after {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  content: '\f078';
  z-index: 10;
}

.select1.is-open .placeholder:after {
  content: '\f077';
}

.select1.is-open ul {
  display: block;
}

.select1.select--white .placeholder1 {
  background: #fff;
  color: #999;
}

.select1.select--white .placeholder1:hover {
  background: #fafafa;
}

.select1 ul {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  z-index: 1000;
  border: 1px solid #cccccc;
  background: #ffffff;
}

.select1 ul li {
  display: block;
  text-align: left;
  padding: 0.8em 1em 0.8em 1em;
  color: #999;
  cursor: pointer;
}

.select1 ul li:hover {
  background: #6f6969;
  color: #fff;
}

#twoselect,
#fiveselect,
#fourselect,
#threeselect {
  width: 130px;
}

#oneselect {
  width: 220px;
}

.search-search {
	width: 120px;
	height: 49px ;
	background: #ae9277;
	float: right;
	position: relative;
	color: #ffffff;
	font-size: 16px;
	font-family: "Lato Regular";
	text-align: center;
	padding: 1em;
}

.search-search img {
	padding-left: 16px;
}

.search-search p {
	display:inline-block;
}

.clearfixn {
	clear: both;
}

/* Sale Hause */
.sale-hause {
	width: 100%;
	min-height: 320px;
	background: #f3f3f3;
	margin-top: 50px;
	margin-bottom: 20px;

}

.saletitle {
		width: 70%;
		margin: 0 auto;
		min-height: 400px;
		
	}

	.saletitle h2 {
		font-family: 'Literata Regular';
		color: #333333;
		text-transform: uppercase;
		font-size: 2.25rem;
		text-align: center;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.img-sale img {
		width: 100%;
		margin-bottom: 40px;	
	}

/* MAP */
.map {
	width: 100%;
	min-height: 400px;
	background: #ffffff;
	
}

	.maptitle {
		width: 70%;
		margin: 0 auto;
		min-height: 400px;
		
	}

	.maptitle h2 {
		font-family: 'Literata Regular';
		color: #333333;
		text-transform: uppercase;
		font-size: 2.25rem;
		text-align: center;
		padding-bottom: 20px;
		padding-top: 20px;
	
	}

	/* History content */

.history {
	width: 100%;
	min-height: 200px;
}

	.hist-content {
		width: 69%;
		margin: 0 auto;
		min-height: 200px;
	}

	.hist-content h2 {
		font-family: 'Literata Regular';
		color: #333333;
		text-transform: uppercase;
		font-size: 2.25rem;
		text-align: center;
		padding-bottom:20px;
	}

	/* HISTORY */
	.divimg img {
		width: 100%;
		height: 100%;
	}

	.divimg {
		float: left;
		display: inline-block;
		width: 60%;
		/* box-shadow: -1.5em 1.5em 4px rgba(122,122,122,0.5); */
	}

	.text-1 h4 > img {
		padding-left: 20px;
		padding-bottom: 8px;
	}

	.text-1	{
		width: 40%;
		float:right;
		display: inline-block;
	}

	.text-1 h4 {
		padding-top: 0;
		font-family: 'Lato Regular';
		font-size: 1.625rem;
		color: #ae9277;
		text-transform: uppercase;
		margin-top: 0;
		padding-left: 20px;
	}

	.text-1 p {
		color: #282828;
		font-family: 'Lato Light';
		font-size: 16px;
		padding-left: 60px;
		margin-bottom: 10px;
		line-height: 1.5;
	}

	.clearfix2{
		clear:both;
	}

/* FACTS */

.hist-pic2 {
	padding-top: 30px;
}

.divimg2 img {
	width: 100%;
}

.divimg2 {
	float: right;
	display: inline-block;
	width: 55%;
	/* box-shadow: 1.5em 1.5em 4px rgba(122,122,122,0.5); */
	padding-left: 30px;
}

.text-2 h4 > img {
	padding-left: 20px;
	padding-bottom: 8px;
}

.text-2	{
	width: 40%;
	float: left;
	display: inline-block;
}

.text-2 h4 {
	padding-top: 0;
	font-family: 'Lato Regular';
	font-size: 1.625rem;
	color: #ae9277;
	text-transform: uppercase;
	margin-top: 0;
}

.text-2 p {
	color: #282828;
	font-family: 'Lato Light';
	font-size: 16px;
	padding-left: 60px;
	margin-bottom: 10px;
	line-height: 1.5;
}

.clearfix3{
	clear:both;
}

/* Ifostructure */
.infostr {
	width: 100%;
	min-height: 200px;
}

	.infonav {
		width: 69%;
		margin: 0 auto;
		min-height: 200px;
	}

	.infonav h4 {
			padding-top: 0;
			font-family: 'Lato Regular';
			font-size: 26px;
			color: #ae9277;
			text-transform: uppercase;
			margin-top: 25px;
		}

	.infonav h4 > img {
			padding-left: 20px;
			padding-bottom: 8px;
		}

	.infonav li {

		display: inline-block;
		font-family: 'Lato light';
		padding-left: 7px;
	}

	.infonav ul {
		width:100%;
		margin-top: 40px;
	}

	.infonav a {
		text-decoration: none;
		color: #282828;
	}

	.infonav a:hover {
		border-bottom: 1px solid #ae9277;
	}

	.museum {
		border-bottom: 1px solid #ae9277;
	}

	.info-museum p {
		color: #282828;
		font-family: 'Lato Light';
		font-size: 16px;
		padding-left: 60px;
		margin-bottom: 10px;
		line-height: 1.5;
		margin-top: 40px;	
	}

.articles{
	width: 100%;
	background: #f3f3f3;
	min-height: 300px;
	margin-top: 50px;
	padding-bottom: 25px;
}

	.articles-title h2 {
		font-family: 'Literata Regular';
		color: #333333;
		text-transform: uppercase;
		font-size: 2.25rem;
		text-align: center;
		padding-top: 30px;
	}
	
	/* First ARTIC */
	.artic {
		width: 69%;
		margin: 0 auto;
		min-height: 200px;	
	}
	
	.first-artic {
		width: 33%;
		min-height: 100px;
		float: left;
		display: inline-block;
	}
	
	.first-artic img {
		width: 100%;
		height: 100%;
	}

	.art-p {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #ffffff;
		min-height: 100px;
	}

	.art-p-img {
		float: left;
		padding: 10px 40px;
	}

	.art-p p{
		font-family: 'Lato Light';
		padding-bottom: 15px;
	}


	.art-but{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #f3f3f3;
		min-height: 50px;
	}

	.art-button {
		float: right;
		width: 100px;
		height: 30px;
		border: 1px solid #ae9277;
	}

	.art-button p {
		text-align:center;
		font-family: 'Lato Italic';
		font-size: 16px;
		color: #ae9277;
		padding-top: 5px;
	}

	.xz {
		float: left;
		padding-top: 5px;
	}

	.xz p {
		font-family: 'Lato Light';
		color: #999999;
	}

	.art-button a {
		text-decoration: none;
		color: #ae9277;
	}

	/* SECOND artic */

	.second-artic {
		width: 33%;
		min-height: 100px;
		display: inline-block;
		margin-left: 4px;
	}

	.second-artic img {
		width: 100%;
		height: 100%;
	}
	
	.art-p2 {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #ffffff;
		min-height: 100px;
	}

	.art-p-img2 {
		float: left;
		padding: 10px 40px;
	}

	.art-p2 p{
		font-family: 'Lato Light';
		padding-bottom: 15px;
	}


	.art-but2{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #f3f3f3;
		min-height: 50px;
	}

	.art-button2 {
		float: right;
		width: 100px;
		height: 30px;
		border: 1px solid #ae9277;
	}

	.art-button2 p {
		text-align:center;
		font-family: 'Lato Italic';
		font-size: 16px;
		color: #ae9277;
		padding-top: 5px;
	}

	.xz2 {
		float: left;
		padding-top: 5px;
	}

	.xz2 p {
		font-family: 'Lato Light';
		color: #999999;
	}

	.art-button2 a {
		text-decoration: none;
		color: #ae9277;
	}

	/* Thitd ARTIC */
	
	.third-artic {
		width: 33%;
		min-height: 100px;
		float: left;
		display: inline-block;
		float:right;

	}
	
	.third-artic img {
		width: 100%;
		height: 100%;
	}

	.art-p3 {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #ffffff;
		min-height: 100px;
	}

	.art-p-img3 {
		float: left;
		padding: 10px 40px;
	}

	.art-p3 p{
		font-family: 'Lato Light';
		padding-bottom: 15px;
	}


	.art-but3{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		background: #f3f3f3;
		min-height: 50px;
	}

	.art-button3 {
		float: right;
		width: 100px;
		height: 30px;
		border: 1px solid #ae9277;
	}

	.art-button3 p {
		text-align:center;
		font-family: 'Lato Italic';
		font-size: 16px;
		color: #ae9277;
		padding-top: 5px;
	}

	.xz3 {
		float: left;
		padding-top: 5px;
	}

	.xz3 p {
		font-family: 'Lato Light';
		color: #999999;
	}

	.art-button3 a {
		text-decoration: none;
		color: #ae9277;
	}

	.clearfix88{
		clear: both;
	}
	/* Footer */

.footer {
	width: 100%;
	height: 70px;
}

	.footer-left {
		width: 70%;
		background: #ae9277;
		min-height: 70px;
		display: inline-block;
		float: left;
	}
	
	.footer-nav {
		width: 78%;
		float: right;
		min-height: 70px;
		padding-top: 15px;
	}

		.help {
			width: 155px;
			height: 25px;
			background: #ffffff;
			display: inline-block;
			padding: 5px 5px;
		}

		.help p {
			font-family: 'Lato Light';
			font-size: 14px;
			color: #1c9122;
		}

		.help a {
			text-decoration: none;
			color: #1c9122;
		}

		.star {
			width: 155px;
			height: 25px;
			background: #ffffff;
			display: inline-block;
			padding: 5px 5px;
			margin-left: 5px;
		}

		.star p {
			font-family: 'Lato Light';
			font-size: 14px;
			color: #dc9e09;
		}

		.star a {
			text-decoration: none;
			color: #dc9e09;
		}

		.tel {
			width: 140px;
			min-height: 25px;
			display: inline-block;
			margin-left: 50px;
		}

			.teltel {
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				font-size: 14px;
				display: inline-block;
			}

			.phone b {
				font-weight: 900;
				font-size: 19px;
				margin-right: 30px;
			}

			.teltel2 p{
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				font-size: 11px;
			}

			.loc {
				width: 190px;
				min-height: 25px;
				display: inline-block;
				margin-left: 5px;
				
			}

			.mark {
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				font-size: 14px;
				display: inline-block;
			}

			.mark2 p{
				font-family: 'Lato Medium', sans-serif;
				color: #ffffff;
				font-size: 11px;
			}
	
	.footer-right {
		width: 30%;
		background: #ffffff;
		min-height: 70px;
		display: inline-block;
	}

	.logomain2 {
			width:50%;
/* 			float:left;
 */			padding-left: 7px;
			padding-top: 10px;
		}

			.logo2 {
				font-size: 24px;
				font-family: 'Hagin Caps Medium';
				color: #ae9277;
				text-transform: none;
				padding-left: 3px;
			}

			.logosubtitle2 {
				font-size: 6.5px;
				font-family: 'Lato Medium', sans-serif;
				color: #ae9277;
				text-transform: uppercase;
/* 				padding-top: -15px;
 */				text-align: center;
/* 				min-height: 5px;
 */			}

			.logomain2 a {
				text-decoration: none;
				color: #ae9277;
			}	

			.clearfixfoot {
				clear:both;
			}
/* Responsive */
@media screen and (max-width:1350px){
	.infonav li img {
		width: 13px;
	}

	.infonav ul {
		width: 100%;
	}

	.tel {
		margin-left: 15px;
	}

@media screen and (max-width:1300px){
	.search-buttons li {
		padding: 17px 30px;
	}

@media screen and (max-width:1251px){

	.search-buttons {
  width: 95%;
}
	.infonav li {
		margin: 5px;
	}

	.infonav ul {
		text-align: center;
	}

	.footer-nav {
		width: 95%;
	}

	.logomain2{
		width:100%;
		float: right;
	}


@media screen and (max-width:1186px){

	.search-search {
    height: 47px;
}
	.logomain p .logo{
	line-height: 1;
	font-size: 2.15rem;
	}

	.logomain p .logosubtitle{
	line-height: 1;
	font-size: 0.5625rem;
	}

	.logomain {
	width:40%;
	margin-top: 15px;
	}

	.telephone {
		width:60%;
	}

	.main, .sale, .rent, .contacts {
		width: 24%;
		}

	.menubuttons {
		width: 75%;	
	}

	.search-buttons li {
		padding: 17px 15px 17px 15px;
	}

@media screen and (max-width:1024px){

		.search-search {
    height: 46px;
}


	.text-1 {
		width: 100%;
		padding-top: 10px;	
	}

	.text-1 h4{
		padding-left: 0;
	}

	.text-2 h4{
		padding-left: 0;
	}

	.text-2 {
		width: 100%;
		padding-top: 10px;
	}

	.divimg {
		clear: left;
		text-align:center;
	}	

	.logomain2 {
		width: 100%;
		float: right;
		padding-right: 15px;
	}

	.teltel b {
		font-size: 14px;
	}

	.mark b {
		font-size: 14px;
	}

	.footer-nav {
		width: 77%;
	}
	
	.loc {
		margin-top: 5px;
	}

@media screen and (max-width:987px){

		.search-buttons {
	width:95%;
}

	.headtext {
		width: 95%;
	}

	.logomain {
	width:35%;
	margin-top: 15px;
	}

	.telephone {
		width:65%;
		float: left;
	}

	.menubuttons {
		width: 95%;	
	}

	.saletitle h2 {
		font-size: 1.75rem;
	}

	.maptitle h2 {
		font-size: 1.75rem;
	}	

	.hist-content h2 {
		font-size: 1.75rem;
	}

	.articles-title h2 {
		font-size: 1.75rem;
	}

	.artic {
		width: 80%;
	}

@media screen and (max-width:925px){

	.search-search {
		display: block;
		float: left;
		margin: 5px;
	}

	.search-buttons {
	width:85%;
}

.select1 {
	margin: 5px ;
}

@media screen and (max-width:850px){
	.artic {
		width: 87%;
	}

@media screen and (max-width:858px){
	.tel {
		margin: 6px;	
	}

	.loc {
		margin: 6px;
		margin-bottom: 13px;
	}
}

@media screen and (max-width:768px){
	.headtext {
		width: 95%;
	}

	.menubuttons {
		width: 95%;	
	}

	.menubuttons p{
		font-size: 0.75rem;	
	}

	.search-buttons li {

		text-align: center;
	}
	

	.saletitle {
		width: 95%;
	}

	.maptitle {
		width: 95%;

	}	

	.hist-content {
		width: 95%;
	}

	.articles-title {
		width: 95%;
	}

	.divimg {
		width: 100%;
	}

	.divimg2 {
		width: 100%;
		    padding-left: 0px;
	}

	.infonav {
		width: 95%;
	}

	.infonav {
		width: 95%;
	}

	.artic {
		width: 95%;
	}

	.first-artic {
		width: 49%;
	}

	.second-artic {
		width: 49%;
	}
	
	.third-artic {
		width: 49%;
		float: left;
		margin-top: 15px;
	}

	.footer-nav {
		width: 95%;
	}

@media screen and (max-width:677px){
	.headtext {
		width: 90%;
	}

	.logomain {
		width:60%;
		margin-top: 15px;
	}
	
	.telephone {
		padding-top: 15px;
		width: 40%;
	}

	.phone{
		margin: 3px;
	}
	
	.fav {
		margin: 3px;
	}

	.icon {
		margin: 3px;
	}

	.footer-left {
    	width: 68%;
    }

    .footer-right {
    width: 32%;
	}	

 @media screen and (max-width:620px){ 
 
	.help {
		display: block;
		margin-bottom: 5px;
	}

	.star {
		display: block;
		margin-left: 0;
	}

	.tel {
		display: block;
		margin-bottom: 5px;
		margin: 6px;

	}

	.loc {
		display: block;
		margin-left: 0;
		margin: 6px;
		margin-bottom: 13px;
	}

	.footer-left {
    	width: 55%;
    }

    .footer-right {
    width: 45%;
	}

	.logomain2 {
		padding-top: 50px;
	}

	.footer-left {
    	width: 50%;
    }

    .footer-right {
    width: 50%;
	}

@media screen and (max-width:560px){
	.telephone {
		width:100%;
		float: left;
		margin-bottom: 15px;
		text-align: center;
	}
	
	.logomain {
		width: 100%;
		margin: 0 auto;
		padding-top: 15px;
		text-align: center;
	}

	.logomain p{
		margin: 0 auto;
	}

	.main, .sale, .rent, .contacts {
		width: 50%;
		border: none;
		margin-top:10px;
		float:left;
	}

	.caption h3 {
		font-size: 2rem;
	}

	.button-left h5 {
		font-size: 1.3rem;
	}

	.button-left {
		width: 250px;
		height: 35px;
		padding-top: 0.5px;
	}

	.button-right h5 {
		font-size: 1.3rem;
	}

	.button-right {
		width: 250px;
		height: 35px;
		padding-top: 0.5px;
	}
	
	.button-center h5 {
		font-size: 1.3rem;
	}

	.button-center {
		width: 250px;
		height: 35px;
		padding-top: 0.5px;
	}

	.info-museum p {
		padding-left:0;
	}

@media screen and (max-width:479px){
	.first-artic {
		width: 100%;
	}

	.second-artic {
		width: 100%;
		margin-top: 15px;
		margin-left: 0;
	}
	
	.third-artic {
		width: 100%;
		float: left;
		margin-top: 15px;
	}

	.art-p p {
		padding-top: 12px;
	}

	.art-p2 p {
		padding-top: 12px;
	}

	.art-p3 p {
		padding-top: 12px;
	}

@media screen and (max-width:400px){
	.logomain2{
		display:none;
	}

	.footer-left {
		width:100%;
	}

	.footer-nav {
		width: 78%;
	}

	.footer-right {
		display:none;
	}

	.help {
		width: 190px;
		margin: 6px;
	}

	.star {
		width: 190px;
		margin: 6px;
	}

	#twoselect,
#fiveselect,
#fourselect,
#threeselect {
  width: 220px;
}


@media screen and (max-width:320px){

	.second-artic {
		margin-left: 0;
	}	

	.telephone {
		width:100%;
		float: left;
		margin-bottom: 15px;
		text-align: left;
		text-align: center;
	}
	
	.logomain {
		width: 100%;
	}
	
	.main, .sale, .rent, .contacts {
		width: 50%;
		border: none;
		margin-top:10px;
	}

	.slider .slides li .caption {
		left: 5%;
		width:90%;
	}

	.caption h3 {
		font-size: 1.6rem;
	}

	.button-left h5 {
		font-size: 1.1rem;
	}
	
	.button-right h5 {
		font-size: 1.1rem;
	}

	.button-center h5 {
		font-size: 1.1rem;
	}

	.left-align {
	    text-align: center;
	}

    .right-align {
	    text-align: center;
	}

}



	
	





	






